@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #06070f;
  --foreground: #f5f5f7;
}

body {
  @apply min-h-screen bg-background text-foreground antialiased;
}

main {
  @apply min-h-screen;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    background-image: linear-gradient(
        120deg,
        rgba(75, 123, 236, 0.12),
        rgba(32, 191, 107, 0.18)
      );
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-grid {
    background-size: 48px 48px;
    background-image: radial-gradient(
        circle at 1px 1px,
        rgba(255, 255, 255, 0.08) 1px,
        transparent 0
      );
  }
}
